@media (max-width: 1200px) {
	.header {
		&__wrapper {
			&-item {
				font-size: 14px;
			}
		}
	}
	.heroaria {
		min-height: 539.853px;
		&__img {
			height: 507px;
		}
		&__wrapper {
			margin-top: 62px;
			height: 450px;
			&-title {
				font-size: 32px;
			}
			&-btns {
				width: 355px;
			}
		}
	}
	.features {
		width: 100%;
		&__boxes {
			&-box {

			}
			&-img {
				.svg_img-1 {
					position: absolute;
					margin-top: -7%;
					margin-left: 10.2%;
				}
				.svg_img-2 {
					position: absolute;
					margin-top: 1.8%;
					margin-left: -6.5%;
				}
				.svg_img-3 {
					position: absolute;
					margin-top: 1.4%;
					margin-left: -7%;
				}
			}
		}
	}
	.stalls {
		margin-bottom: 0;
		&-img {
			width: 49%;
			height: 61%;
		}
		&__wrapper {
			margin-top: 22px;
			&-descr {
				font-size: 22px;
				margin-top: 10px;
				width: 75%;
			}
		}
	}
	.menu {
		min-height: 1070px;
		&-img {
			img {
				width: 100%;
			}
		}
		&-text {
			margin-top: 10px;
			margin-left: 0;
			font-size: 14px;
		}
		&__price {
			&-var {
				font-size: 18px;
			}
			&-var-2 {
				font-size: 18px;
			}
		}
		&__bottom-box {
			justify-content: space-between;
			margin-left: 0;
		}
	}
} 

@media (max-width: 992px) {
	.header {
		&__wrapper {
			&-item {
				font-size: 14px;
			}
		}
	}
	.heroaria {
		&__img {
			height: 507px;
		}
		&__wrapper {
			margin-top: 62px;
			height: 450px;
			&-title {
				font-size: 32px;
			}
			&-btns {
				width: 355px;
			}
		}
	}
	.features {
		width: 100%;
		&__boxes {
			&-box {

			}
			&-img {
				.svg_img-1 {
					position: absolute;
					margin-top: -7%;
					margin-left: 10.2%;
				}
				.svg_img-2 {
					position: absolute;
					margin-top: 1.8%;
					margin-left: -6.5%;
				}
				.svg_img-3 {
					position: absolute;
					margin-top: 1.4%;
					margin-left: -7%;
				}
			}
		}
	}
	.stalls {
		margin-bottom: 0;
		&-img {
			width: 49%;
			height: 61%;
		}
		&__wrapper {
			margin-top: 0;
			&-descr {
				font-size: 22px;
				margin-top: 10px;
				width: 75%;
			}
		}
	}
	.menu {
		min-height: 1070px;
		&-img {
			img {
				width: 100%;
			}
		}
		&-text {
			margin-top: 10px;
			margin-left: 0;
			font-size: 14px;
		}
		&__price {
			&-var {
				font-size: 18px;
			}
			&-var-2 {
				font-size: 18px;
			}
		}
		&__bottom-box {
			justify-content: space-between;
			margin-left: 0;
		}
	}
	.download {
		&__wrapper {
			margin-top: 64px;
			&-descr {
				width: 100%;
			}
			&-btn {
				gap: 10px;
				width: 100%;
			}
		}
	}
	.footer {
		width: 100%;
		&__links {
			margin-top: 10px;
			font-size: 12px;
		}
		&__icons {
			margin-top: 15px;
		}
	}
}

@media (max-width: 768px) {
	.header {
		&__wrapper {
			position: fixed;
			top: 0;
			left: -100%;
			width: 30%;
			justify-content: center;
			align-items: center;
			height: 100vh;
			padding: 20px 15px;
			flex-direction: column;
			z-index: 1;
			background-color: rgba(0,0,0, .8);
			transition: 0.8s all;
			&-item {
				margin: 10px 0;
				a {
					color: #fff;
				}
			}
		}
		&__active {
			left: 0;
		}
		.hamburger {
			display: block;
			position: absolute;
			top: 25px;
			transform: translateY(-50%);
			right: 25px;
			color: #000;
			width: 26px;
			span {
				display: block;
				height: 2px;
				width: 100%;
				margin-bottom: 2px;
				background: #000;
				transition: 0.8s all;
			}
			&__active {
				span {
					margin-bottom: -2px;
					transition: 0.8s all;
					&:first-child {
						transform: rotate(-45deg);
					}
					&:nth-child(2) {
						display: none;
					}
					&:nth-child(3) {
						transform: rotate(45deg);
					}
				}
			}
		}
	}
	.heroaria {
		&__img {
			height: 507px;
			img {
				height: 70%;
			}
		}
		&__wrapper {
			margin-top: 62px;
			height: 450px;
			&-title {
				font-size: 16px;
			}
			&-btns {
				width: 355px;
			}
			&-descr {
				font-size: 14px;
			}
		}
	}
	.features {
		width: 100%;
		&__boxes {
			&-box {

			}
			&-img {
				.svg_img-1 {
					margin-top: -11%;
					margin-left: 10%;
				}
				.svg_img-2 {
					margin-top: 1.8%;
					margin-left: -10%;
				}
				.svg_img-3 {
					margin-top: 2%;
					margin-left: -11%;
				}
			}
		}
	}
	.stalls {
		.col-sm-6:first-child {
			height: 312px;
		}
		&-img {
			width: 49%;
			height: 61%;
		}
		&__wrapper {
			margin-top: 0;
			&-descr {
				font-size: 12px;
				width: 81%;
			}
			&-title {
				font-size: 12px;
			}
			&-text {
				font-size: 12px;
			}
		}
	}
	.download {
		&-img {
			width: 100%;
			margin-top: 10px;
		}
		&__wrapper {
			margin-top: 108px;
			&-title {
				font-size: 12px;
			}
			&-descr {
				font-size: 16px;
			}
			&-text {
				margin-top: 15px;
				font-size: 14px;
			}
			&-btn {
				.download__btn {
					margin-top: 20px;
				}
				.appStore {
					width: 85%;
					span {
						font-size: 10px;
						margin-left: 15%;
					}
				}
				.googlePlay {
					width: 85%;
					span {
						font-size: 10px;
					}
				}
			}
		}
	}
	.contact {
		&__input {
			width: 370px;
		}
		.descr {
			font-size: 18px;
			width: 350px;
			margin: 10px auto;
		}
	}
	.footer {
		width: 100%;
		padding: 137px 62px 104px 50px;
		&__links {
			height: 25px;
			font-size: 11px;
		}
	}
}