.menu {
	min-height: 1220px;
	max-width: 1140px;
	margin: 0 auto;
	&-img {
		margin-top: 32px;
	}
	&__price {
		display: flex;
		justify-content: space-around;
		margin-top: 9px;
		&-var {
			color: #150C01;
			font-family: 'Philosopher', sans-serif;
			font-size: 25px;
			font-style: normal;
			font-weight: 700;
			line-height: 24px; /* 96% */
			&-2 {
				color: #150C01;
				text-align: right;
				font-family: 'Philosopher', sans-serif;
				font-size: 25px;
				font-style: normal;
				font-weight: 700;
				line-height: 24px; /* 96% */
			}
		}
	}
	&-text {
		color: #150C01;
		margin-top: 20px;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		margin-left: 4%;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 150% */
	}
	&__bottom-box {
		margin-top: 10px;
		display: flex;
		justify-content: space-between;
		margin-left: 4%;
	}
	&__square {
		width: 36px;
		height: 34px;
		background: var(--PRIMARY, #DC780B);
		border-radius: 100%;
		&-plus {
			margin-left: 36%;
			margin-top: 20%;
			&:hover {
				background-clip: rgb(245, 3, 3);
			}
		}
	}
}